name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'wasm/go.mod'

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: npm install

      - name: Build project
        # We need to set the BASE_URL to be the project such that Github Pages deployment has the correct paths.
        run: BASE_URL="/goggle/" npm run build

      - name: Take screenshot
        run: |
          npm run dev &
          SERVER_PID=$!
          pip install playwright
          playwright install --with-deps
          python3 .github/workflows/screenshot.py
          kill "$SERVER_PID"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/

  deploy:
    needs: build
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
